@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-hzopv1');
	src:url('../fonts/icomoon.eot?#iefix-hzopv1') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-hzopv1') format('woff'),
		url('../fonts/icomoon.ttf?-hzopv1') format('truetype'),
		url('../fonts/icomoon.svg?-hzopv1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
	content: "\e60e";
}
.icon-files:before {
	content: "\e60f";
}
.icon-notice:before {
	content: "\e600";
}
.icon-notice2:before {
	content: "\e610";
}
.icon-chart:before {
	content: "\e601";
}
.icon-trashcan:before {
	content: "\e602";
}
.icon-magnifier:before {
	content: "\e603";
}
.icon-lamp:before {
	content: "\e611";
}
.icon-calculator:before {
	content: "\e606";
}
.icon-attachment:before {
	content: "\e612";
}
.icon-pen:before {
	content: "\e604";
}
.icon-edit:before {
	content: "\e60d";
}
.icon-popout:before {
	content: "\e607";
}
.icon-popin:before {
	content: "\e613";
}
.icon-checked:before {
	content: "\e608";
}
.icon-error:before {
	content: "\e609";
}
.icon-add:before {
	content: "\e60a";
}
.icon-minus:before {
	content: "\e60b";
}
.icon-uniE614:before {
	content: "\e614";
}
.icon-next:before {
	content: "\e615";
}
.icon-last:before {
	content: "\e616";
}
.icon-prev:before {
	content: "\e617";
}
.icon-first:before {
	content: "\e618";
}
.icon-home:before {
	content: "\e60c";
}
.icon-exit2:before {
	content: "\e605";
}
